@charset "UTF-8";
.menu{
	width: 100%; 
	height: 60px;                   
	background: rgb(190, 36, 36);    /*背景渐变颜色*/
	border-radius: 5px;  /*圆角边框*/
	margin:  auto;
}
.menu li{
	list-style: none;
	position: relative;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.menu li:hover >a{
	color: #cc7070;
}
.menu li>a{
	display: inline-block;
	padding: 0 24px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	color: white;
	border-left: 2px solid #93939d;
	/*基础的文本阴影效果*/
	 text-shadow: 1px 1px 1px rgba(0,0,0,6);
}
.menu>li:nth-child(1) a{
	border-left: none;
	margin-left: 17px;
}
/*下面写二级菜单样式*/
.banner{
	width: 100%;
	height:480px;
	border:1px solid black;
	position:relative;
	overflow: hidden;/* 隐藏多余的部分 */
	margin:0 auto;
}
.slide{
	width:1500px;
	height:480px;
	/*将对象从文档流中拖出，使用left，right，top，bottom等属性进行绝对定位。 */
	position:absolute;
}
.hot{
	margin: 10px auto;
	width: 100%;
	height: 200px;
}
div.img {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}
div.img:hover {
	border: 1px solid #777;
}
div.img img {
	width: 100%;
	height: auto;
}
div.desc {
	padding: 10px;
	text-align: center;
}
.s{
	width: 20%;
	top: 70px !important; 
	bottom: 32px;
	height: 100%;
	float:left;
 	/*  background: #c0c0c0 ;  */
}       
.s1 li{
	list-style-type: none;
	line-height:28px;
	position: relative;
	font-size:16px;
}
.s1 li:hover >a{
    color: #cc7070;
}
.s1 li a{
	text-decoration:none;
	font-size:15px;
    color: #ff8080;
}
.s1 #li{
	display:block;
} 
.header {
	width: 100%;
	height: 70px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	 /* background-color: #0080c0;  */
}
.content {
	position: absolute !important;
	position: relative;
	top: 70px !important; 
	top: 0;
	bottom: 32px;
	width: 100%;
	overflow: hidden;
	height: auto !important;
	height: 100%;
	/*  left: -3px; */
	/*  background-color: #408080;  */  
}
.footer {
	width: 100%;
	height: 40px;
	color: #e1efff;
	line-height: 32px; 
	letter-spacing: 1px;
	text-align: center;
	/*  clear: both; */
	position: absolute;
	bottom: 0; 
	/*  background-color:#808080;  */
}
.contentext{
	width: 80%;
	top: 70px !important;  
	bottom: 32px;
	height: 100%;
	float:right;
	text-align: center;
}
.t1{
    margin-left:15px;
	width: 720px;
	height: 300px;
	/* background-color:#ff80ff; */
	box-shadow: 10px 15px 10px 8px rgba(0,0,0,0.9);
	border-radius:10px;
} 
#table {
	margin-top:40px; 
	width:80%;
	font-size:16px;
	height:8px; 
	border-color:#008080;
	border-style:dashed;
	border-radius:10px;
}
#table tr{
	background-color:#c0c0c0;
	height:45px; 
}
#table tr:hover{
	background-color: #ffff80;
}


td{	
	height:40px;
}

 
 
   body{
	background-image: url("../img/bg2.jpg");
	--把背景图片放大到适合元素容器的尺寸，图片比例不变
	background-size:100% 100%;
	color: rgb(71, 71, 71);
}   
.user{
   margin: 5px auto; 
   width: 600px;
    height: 500px;    
  /*  height: auto !important;   */ 
   border-radius: 1%;
   box-shadow: 10px 15px 10px 8px rgba(0,0,0,0.9);/*右下模糊半径 */
   background-color: #ffffff;
   opacity:0.8;
  
}

.register h2 {
	margin: 5px auto;
    padding: 20px;
    text-align: center;
}
.register label{
   width: 100px;
   height: 40px;
   display: block;
   float: left;
   overflow: hidden;
   padding-left: 50px;
   padding-right: 10px; 
   text-align: justify;
   vertical-align: middle;
   text-align-last:justify;
   font-size: 20px; 
}
.register input{
  font-size: 15px;
  display: inline;
  width: 300px;
  height: 30px;
}
#button{
   margin-left: 100px;
   width: 90px;
   height: 40px;
   background-color: #d59523;
   
}
#button:hover{
  opacity:1.0;
  background-color: chocolate;
}
a:link{
   color: #000;
}
  
