 body{
    background-image: url("../img/bg2.jpg");
    --把背景图片放大到适合元素容器的尺寸，图片比例不变
    background-size:100% 100%;
    color: rgb(71, 71, 71);
    
} 
.user{
    margin: 100px auto;
    width: 500px;
    height: 500px;
    border-radius: 1%;
    box-shadow: 10px 15px 10px 8px rgba(0,0,0,0.9);/*右下模糊半径 */
    background-color: #ffffff;
    opacity:0.8;
}
.login h1 {
    padding: 30px;
    text-align: center;
}
.login label{
    padding-left: 50px;
}
.login input{
    display: inline;
    width: 300px;
    height: 35px;
}
#button{
    margin-left: 100px;
    width: 100px;
    height: 40px;
    background-color: #d59523;
}
#button:hover{
    opacity:1.0;
    background-color: chocolate;
 
}
a:link{
    color: #000;
}


.class1{
  margin:30px 100px;
  padding: 5px 10px;
  width: 280px;
  height: 40px;
  float:right;
}
.class1 a{
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
}
.class1 a:visited {color:#FF00FF;}  /* 已访问链接 */
.class1 a:hover{color:#FF00FF;}  /* 鼠标移动到链接上 */
.class1 a:active{color:#0000FF; /* 鼠标点击时 */}
.class1 a:link {color:#000000;} /* 未访问链接*/
.class2{
	margin:15px 50px;
    padding: 5px 8px;
    width: 500px;
    height: 400px;
} 
.h1{
	text-indent:5em;
	font-family:"华文彩云";
}
.class2 img {
	margin:5px 30px;
    padding: 5px 8px;
    width: 450px;
    height: 300px;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 2px  2px 3px rgba(0,140,180,0.6);  
} 
.class2 img:hover{
    box-shadow: 15px 15px 20px rgba(50,50,50,0.6);
    transform: rotate(0deg) scale(1.20);
    -webkit-transform: rotate(0deg) scale(1.20);
}
.class3{
     margin:30px 0px;
     padding:2px 2px;
	 width: 380px;
     height:300px;
     float:right;
     /* background-color:pink; */  
     text-indent:2em;
     font-size:18px;  
     font-family:"微软雅黑";
    border-style: double;
    border-color: #D2413A;
    word-spacing: 10px;
    border-radius: 20px;
}
.class3 p{
	color:#9932CC;
}
.h3{
	text-shadow: 6px 6px 2px #FF0000;
	 color:#483D8B;
}