 img{
               float: left;
               margin-left: 10px;
           }
           .bbox{
               
               width:700px ;
               height: 700px;
               background-color: rgb(255, 247, 247);
               border-radius: 20px;
               border: 3px solid ;
               border-color: #f3d5ca;
               box-shadow:3px 3px 5px 3px rgb(226, 218, 211) ;
               color:  rgb(49, 61, 73);
           }
           .box{
               /* background-color: rgb(245, 190, 218); */
               padding-left: 300px;
               margin: 10px 10px 0 10px;


           }
           #bottom{
               width: 100px;
               margin-left: 260px;
               background-color: #f07b57 ;
           }
           .span{
               color: rgb(49, 61, 73);
               margin-left: 10px;
           }
           #umbrella::after{content: "\2602";}
           #telphone::after{content: "\260E";}
           #bathroom::after{content: "\267F"; padding: 5px;}
           h3{
            color:  rgb(49, 61, 73);
            margin: 20px 0 0 10px;
           }
           hr{
               border: 0.5px dashed rgb(115, 131, 146);
           }
           .bbox p{
               margin: 5px 0 25px 15px; 
           }
