img{
    float: left;
    margin: 10px;
}
.room{
    border-radius: 8px;
    background: #f0ba8e;
    border:3px solid #f07b57;
    width: 800px;
    height: 170px;
    margin: 5px auto;
    display:block;
}
h2{
    font-size: 24px;
    color: #f07b57 ;
}
.table{
    width:500px ;
    height: 150px;
}
.table td{
    text-align: center;
}
a{
    color: black;
}
img:hover{
    width:230px ;
}
